<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)
    <style>
        .error-info {
            border-radius: 10px;
            font-size: large;
            text-align: center;
            background: #ff000070;
            border: #ff0000b5 2px solid;
            width: max-content;
            height: max-content;
            line-height: normal;
            padding: 5px;
        }
    </style>
</head>
<body class="m-0">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-header">
        <div class="container">
            <a class="logo" href="@Url.Action("Index", "Home")">
                testing
            </a>
            <div class="nav-button">
                <a id="nav-home" href="@Url.Action("Index", "Home")">
                    Home
                </a>
                <a id="nav-shop" href="@Url.Action("Index", "Home")">
                    Shop
                </a>
                <a id="nav-products" href="@Url.Action("Index", "Products")">
                    Products
                </a>
                <a id="nav-sale" href="@Url.Action("Index", "Home")">
                    Sale
                </a>
            </div>
            <div class="d-flex flex-row gap-2">
                <a href="@Url.Action("Index", "Home")">
                    <div class="box-link">
                        <img src="~/Image/svg/heart.svg" alt="favorite list" />
                    </div>
                </a>
                <a href="@Url.Action("Index", "ShoppingCart")">
                    <div class="box-link">
                        <img src="~/Image/svg/cart.svg" alt="cart list" />
                    </div>
                </a>
                <div class="position-relative">
                    @if (Session["UserID"] != null)
                    {
                        <a class="profile-link" href="@Url.Action("Index", "Profile")">
                            <img src="@Url.Content("/Image/profile.png")" alt="profile image" class="profile-img" />
                        </a>
                    }
                    else
                    {
                        <a class="profile-link" href="@Url.Action("Index", "Login")">
                            <div class="box-link">
                                <img src="~/Image/svg/person.svg" alt="profile image" />
                            </div>
                        </a>
                    }
                    <div class="d-flex flex-column gap-2 p-2 profile-popup">
                        @if (Session["UserID"] != null)
                        {
                            <div>Hello, <b>@Session["NameCus"]</b>!</div>
                            <hr style="margin: 0.3em 0;" />
                            <a href="@Url.Action("Index", "Profile")">Thông tin khách hàng</a>
                            <a href="@Url.Action("LogoutUser", "Login")">Đăng xuất</a>
                        }
                        else
                        {
                            <div>Hello, Anonymous user</div>
                            <hr style="margin: 0.3em 0;" />
                            <a href="@Url.Action("Index", "Login")">Đăng nhập</a>
                            <a href="@Url.Action("RegisterUser", "Login")">Đăng ký</a>
                        }
                        <hr style="margin: 0.3em 0;" />
                        <a href="@Url.Action("CheckOrder", "ShoppingCart")">Kiểm tra đơn hàng</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container index-container mt-4" style="min-height: calc(100vh - 450px);">
        @if (TempData["Error"] != null)
        {
            <div class="error-info">@TempData["Error"]</div>
        }
        @if (ViewBag.Error != null)
        {
            <div class="error-info">@ViewBag.Error</div>
        }
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="wrapper">
                <a class="logo" href="@Url.Action("Index", "Home")">
                    testing
                </a>
            </div>
            <hr />
            <div class="wrapper">
                <div>© 2024 <b>testing</b>. All rights reserved</div>
            </div>
        </div>

</footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/_Layout.js")
    @RenderSection("JavaScript", false)

</body>
</html>
