<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)
</head>
<body class="m-0" style="height: 100vh;">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-header">
        <div class="container">
            <a class="logo" href="@Url.Action("Index", "Home")">
                &nbsp;
            </a>
            <a href="#">
                <div>
                    <img src="~/Image/svg/person.svg" alt="profile image" />
                </div>
            </a>
        </div>
    </nav>

    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); ">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
