@model anhemtoicodeweb.Models.User

@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    button {
        border-radius: 7px;
    }

    .edit {
        background-color: #4E6C50;
        color: white;
        font-size: 16px;
        border: none;
        padding: 10px;
        padding-bottom: 10px;
        border-radius: 7px;
        max-height: 41px;
    }

    .label {
        font-size: 24px;
    }

    .input-edit {
        border: #d3d3d3 1px solid;
        border-radius: 7px;
        text-indent: 5px;
    }
</style>

<h2>Chỉnh sửa thông tin</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="profile-info">
    @Html.HiddenFor(model => model.ID)

    <div class="d-flex flex-row gap-3 my-3">
        <div class="label">Tên người dùng: </div>
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input-edit" } })
    </div>

    <div class="d-flex flex-row gap-3 my-3">
        <div class="label">Email: </div>
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input-edit" } })
    </div>

    <div class="d-flex flex-row gap-3 my-3">
        <div class="label">Số điện thoại: </div>
        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "input-edit" } })
    </div>

    <div class="d-flex flex-row gap-3 my-3">
        <div class="label">Địa chỉ hiện tại: </div>
        @Html.EditorFor(model => model.AddressName, new { htmlAttributes = new { @class = "input-edit" } })
    </div>


    <hr class="my-4"/>
    <div class="d-flex flex-row gap-3 my-3">
        <div class="label">Mật khẩu: </div>
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input-edit", title = "Bỏ trống nếu dùng mật khẩu cũ", placeholder = "Bỏ trống nếu dùng mật khẩu cũ", @Value = "", autocomplete = "off", @Type = "password" } })
        @Html.HiddenFor(model => model.Password, new { @Name = "PrevPassword" })
    </div>

    <div class="d-flex flex-row gap-3 my-3">
        <div class="label">Nhập lại mật khẩu: </div>
        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "input-edit", @Value = "", autocomplete = "off", @Type = "password" } })
    </div>

</div>

    <div>
        <div>
            <input type="submit" value="Lưu" class="btn btn-success" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-success" })
        </div>
    </div>
}

