@model anhemtoicodeweb.Models.Customer

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .p {
        font-size: large;
        margin: inherit;
    }

    button {
        border-radius: 7px;
    }

    .edit,
    .dropbtn {
        background-color: #4E6C50;
        color: white;
        font-size: 16px;
        border: none;
        padding: 10px;
        padding-bottom: 10px;
        border-radius: 7px;
        max-height: 41px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .profile-info p {
        font-size: 24px;
    }
</style>
@if (Session["IsAdmin"] is false)
{
    <h2>Profile</h2>
    <div class="profile-info">
        <p>Tên người dùng: <b>@Model.NameCus</b></p>
        <p>Email: <b>@Model.EmailCus</b></p>
        <p>Số điện thoại: <b>@Model.PhoneCus</b></p>
        <p>Địa chỉ hiện tại: <b>@Model.AddressName</b></p>
        <div class="dropdown">
            <button class="no-select dropbtn">Tổng số đơn hàng: @Model.OrderProes.Count</button>
            <div style=" border-radius: 7px;" class="dropdown-content">
                @foreach (var order in Model.OrderProes)
                {
                    <a href="@Url.Action("CheckOrder", "ShoppingCart", new { @id = order.ID })">Đơn hàng số @order.ID</a>
                }
            </div>
        </div>
        <a href="@Url.Action("EditProfile")" class="no-select edit">Chỉnh sửa thông tin</a>
    </div>
}
else
{
    <h2 class="py-3">Admin Panel</h2>
    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#productsCollapse" aria-expanded="false" aria-controls="productsCollapse">
            Products
        </button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#categoryCollapse" aria-expanded="false" aria-controls="categoryCollapse">
            Category
        </button>
    </p>
    <div class="px-3 collapse" id="productsCollapse">
        <h4>Editing <b>Product</b> table</h4>
        @{
            Html.RenderAction("Index", "Products");
        }
        <hr />
    </div>
    <div class="px-3 collapse" id="categoryCollapse">
        <h4>Editing <b>Categories</b> table</h4>
        @{
            Html.RenderAction("Index", "Categories");
        }
        <hr />
    </div>
}