@model anhemtoicodeweb.Models.OrderPro

@{
    ViewBag.Title = "DeleteOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteOrder</h2>

<h3>Bạn có chắc là muốn xóa đơn hàng này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressDelivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressDelivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalDiscount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
