@model anhemtoicodeweb.Models.User


@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Content/css/Login.css")" rel="stylesheet" type="text/css" />
}

<form class="popup" method="post" action="@Url.Action("Index", "Login")">
    <div class="wrapper">
        <h1>Login</h1>
        @if(ViewBag.ErrorInfo != null)
            {
                <div class="error-info">@ViewBag.ErrorInfo</div>
            }
        @Html.AntiForgeryToken()
        <div class="input-field">
            <input class="input-box" type="text" placeholder="Username" name="Name" id="Name" required>
            <input class="input-box" type="password" placeholder="Password" name="Password" id="Password" required>
            <input type="hidden" accept="" name="ReturnUrl" value="@Request.QueryString["ReturnUrl"]" />
        </div>
        <div>
            <input type="checkbox" checked="checked" name="remember" /> Remember me
        </div>
        <input class="login-btn" type="submit" value="Login">
        <div class="d-flex justify-content-between w-100 flex-row">
            <a href="@Url.Action("RegisterUser", "Login")">Register</a>
            <a href="@Url.Action("ForgotPassword", "Login")">Forgot your password?</a>
        </div>
    </div>
</form>