@model anhemtoicodeweb.Models.User


@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Content/css/Login.css")" rel="stylesheet" type="text/css" />
}

<style>
    .field-validation-error {
        color: red;
    }
</style>

<form class="popup" method="post" action="@Url.Action("RegisterUser", "Login")">
    <div class="wrapper">
        <h1>Register</h1>
        @if (ViewBag.ErrorRegister != null)
            {
                <div class="error-info">@ViewBag.ErrorRegister</div>
            }
        @Html.AntiForgeryToken()
    <div class="input-field">
        <input class="input-box" type="text" placeholder="Username" name="Name" id="Name" required>
        <input class="input-box" type="password" placeholder="Password" name="Password" id="Password" required>
        <input class="input-box" type="password" placeholder="Re-enter password" name="ConfirmPassword" id="ConfirmPassword" required>
        <input class="input-box" type="Email" placeholder="Email (Optional)" name="Email" id="Email">
    </div>
        <input class="login-btn" type="submit" value="Register">
        <a href="@Url.Action("Index", "Login")">&#8592 Back to Login</a>
    </div>
</form>