@*@model IEnumerable<anhemtoicodeweb.Models.Product>*@
@model Tuple<IEnumerable<anhemtoicodeweb.Models.Product>, IEnumerable<anhemtoicodeweb.Models.Category>>

@{
    ViewBag.Title = "Home Page";
}

@section Styles {
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="@Url.Content("~/Content/css/Index.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/ForAdmin.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" />
    <style>
        .index-container {
            all: unset;
            margin-top: 0.5rem !important;
        }

        .navbar-header {
            border-bottom: unset;
        }

        .product-box {
            width: unset !important;
        }
    </style>
}

@section Javascript {
    <script type="text/javascript" src="@Url.Content("~/Scripts/IndexScript.js")" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous"></script>
}

<main class="h-auto">
    <link href="~/Content/css/Index.css" rel="stylesheet" />
    <div class="position-relative" id="slide1">
        <button class="slick-prev slick-arrow"><</button>
        <button class="slick-next slick-arrow">></button>
        <div class="slide-container">
            <img class="image_banner" src="~/Image/banner1.png">
            <img class="image_banner" src="~/Image/banner2.jpg">
            <img class="image_banner" src="~/Image/banner3.png">
        </div>
    </div>
    <div class="container">
        <section>
            <h2>Danh mục</h2>
            <div class="container-wrap category">
                @foreach (var category in Model.Item2)
                {
                    <a class="category-box" href="@Url.Action("Details", "Categories", new { id = category.IDCate.Trim() })">
                        @if (category.PicCate != null)
                        {
                            <img src=@Url.Content(category.PicCate) />
                        }
                        <h3>@category.NameCate</h3>
                    </a>
                }
            </div>
        </section>
        <section>
            @* products *@
            <div class="w-auto d-flex flex-nowrap flex-row justify-content-between align-content-end">
                <h2>Các sản phẩm bán chạy</h2>
                <a href="@Url.Action("Index", "Products")">
                    Xem thêm →
                </a>
            </div>
            <div class="position-relative" id="product-slider">
                <button class="slick-prev-prod slick-arrow"><</button>
                <button class="slick-next-prod slick-arrow">></button>
                <div class="slide-container">
                    @*<div>
                            <div class="container-wrap product">
                                @foreach (var product in Model.Item1.Take(10))
                                {
                                    Html.RenderPartial("../Products/PartialProduct", product, ViewData);
                                }
                            </div>
                        </div>*@
                    @for (int i = 0; i <= Model.Item1.Count(); i++)
                    {
                        if (i % 2 == 0)
                        {
                            continue;
                        }
                        <div>
                            <div class="container-wrap product">
                                @foreach (var product in Model.Item1.Skip(i).Take(2))
                                {
                                    Html.RenderPartial("../Products/PartialProduct", product, ViewData);
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    </div>
</main>