@model IEnumerable<anhemtoicodeweb.Models.Product>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int CurrentPage = (int)ViewBag.CurrentPage;
    int MaxPage = (int)ViewBag.MaxPage;
    string query = Request.Params.Get("query");
}

@section Styles {
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="@Url.Content("~/Content/css/Index.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/Paginator.css")" rel="stylesheet" type="text/css" /> 
}

<h2>Kết quả tìm kiếm</h2>
@if (Model != null && Model.Count() > 0)
{
    <div class="container-wrap justify-content-start product">

        @foreach (var product in Model)
        {
            <div class="product-box">
                <div class="product-image">
                    <img src="@Url.Content(product.ImagePro)" />
                </div>
                <div class="product-content">
                    <div class="main-content">
                        <div class="product-price">@(String.Format("{0:#,#.##}", product.Price))đ</div>
                        <a href="@Url.Action("Details", "Products", new { id = product.ProductID })" style="text-decoration: none">
                            <div class="product-name">@product.NamePro</div>
                        </a>
                    </div>
                    <div class="d-flex gap-4">
                        <a href="/ShoppingCart/AddToCart/@product.ProductID" class="no-select BuyNowBtn">Thêm vào giỏ</a>
                        <img src="~/Image/svg/heart.svg" alt="favorite" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="page-nav">
        <div class="grid-nav-page">
            @if (CurrentPage > 1)
            {
                <a class="page-btn" href="@Url.Action("Search", new { query = query, page = 1 })">&#171;</a>
                <a class="page-btn" href="@Url.Action("Search", new { query = query, page = CurrentPage - 1 })">&#8249;</a>
            }
            @for (var i = 1; i <= Math.Min(MaxPage, 5); i++)
            {
                <a class="page-btn" href="@Url.Action("Search", new { query = query, page = i })">@i</a>
            }
            @if (CurrentPage < MaxPage)
            {
                <a class="page-btn" href="@Url.Action("Search", new { query = query, page = CurrentPage + 1 })">&#8250;</a>
                <a class="page-btn" href="@Url.Action("Search", new { query = query, page = MaxPage })">&#187;</a>
            }
        </div>
    </div>
}
else
{
    <div class="d-flex align-content-center justify-content-center w-100 pt-5">
        <h2>Không tìm thấy sản phẩm nào</h2>
    </div>
}