@model IEnumerable<anhemtoicodeweb.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = ViewBag.Layout;
}

<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameCate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameCate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDCate.Trim() }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDCate.Trim() }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDCate.Trim() })
            </td>
        </tr>
    }

</table>
