@model anhemtoicodeweb.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section JavaScript {
    <script>
        function selfToggle(n) {
            $("#" + n).collapse("toggle")
        }
    </script>
}

@section Styles {
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="@Url.Content("~/Content/css/ProductDetails.css")" rel="stylesheet" type="text/css" />
    <style>
        .card {
            margin-bottom: 1rem;
        }

        .table {
            margin: unset !important;
        }

        .cursor-pointer {
            cursor: pointer !important;
        }

        .card-extra {
            margin: 8px;
        }

            .card-extra .big-text {
                font-weight: bold;
                font-size: 32px;
            }

            .card-extra .small-text {
                font-size: 12px;
            }

        .card-body .card-detail {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }


        input[type=number] {
            border-radius: 6px;
            text-indent: 5px;
            width: 20%;
            border-width: 0.15rem;
        }

            input[type=number]::-webkit-inner-spin-button {
                opacity: 1
            }
    </style>
}

<div style="margin-bottom: 24px" class="list-href">
    <a href="/">Trang chủ</a>
    >
    <a href="/Products">Danh sách sản phầm</a>
    >
    <a href="/Categories/Details/@Model.Category.CategoryId">@Model.Category.Name</a>
    >
    <a href="@Request.Path"><b>@Model.Name</b></a>
</div>


<div>
    <div class="product-container">
        <div class="image">
            <div style="position: relative; border-radius:20px; overflow: hidden;">
                @if (Model.Quantity == 0)
                {
                    <div class="no-select out-of-stock-overlay">Hết hàng</div>
                }
                @if (Model.State == anhemtoicodeweb.Enums.ProductState.Hidden)
                {
                    <div class="no-select out-of-stock-overlay" style="color:yellow">Bị ẩn</div>
                }
                else if (Model.State == anhemtoicodeweb.Enums.ProductState.Deleted)
                {
                    <div class="no-select out-of-stock-overlay">Bị xoá</div>
                }
                <img src="@Url.Content(Model.ImageLocation)" style="width: 100%" alt="Product image" />
                @*<img src="~/Image/Product/BanChaiTre.png" alt="Product image" />*@
            </div>
        </div>
        <div class="text">
            <div>
                <h2> @Html.DisplayFor(model => model.Name) </h2>
            </div>
            <div>
                @if (Model.Discount > 0)
                {
                    <b style="color: red; text-decoration-line: line-through; font-size: 18px">@(String.Format("{0:#,#.##}", Model.Price))đ </b>
                    <b style="color: red; font-size: 18px">-@String.Format("{0:P2}", Model.Discount)</b>
                    <br />
                    <b style="color: #4E6C50">@(String.Format("{0:#,#.##}", Model.Price - (Model.Price * Model.Discount) ))đ</b>
                }
                else
                {
                    <b style="color: #4E6C50">@(String.Format("{0:#,#.##}", Model.Price))đ </b>
                }
            </div>
            @if (Model.Quantity > 0)
            {
                <div class="d-flex gap-3 flex-column" style="margin-left:30px;margin-top:10px">
                    <div class="button-container">
                        <div class="d-flex gap-2 align-items-center">
                            @*<a class="no-select AddToCart out-of-stock">Thêm vào giỏ hàng</a>*@
                            <input id="quantity" value="1" type="number" max="@Model.Quantity" min="1" />
                            <b style="font-size: 12px; padding: 0">@Model.Quantity sản phẩm có sẵn</b>
                        </div>
                    </div>
                    <div class="button-container">
                        <a onclick="postAddCart(@Model.ProductID)" class="no-select AddToCart">Thêm vào giỏ hàng</a>
                    </div>
                </div>
            }
            <div class="button-container">
                @if (anhemtoicodeweb.Enums.RoleExtensions.EqualsTo(Session["UserRole"], anhemtoicodeweb.Enums.Role.Admin) || (int?)Session["UserId"] == Model.SellerId)
                {
                    <div class="d-flex gap-3" style="padding-left:30px;padding-top:10px">
                        @if (Model.State == anhemtoicodeweb.Enums.ProductState.Deleted)
                        {
                            @Html.ActionLink("Khôi phục", "Restore", new { id = Model.ProductID }, new { @class = "no-select EditBtn", style = "background: #c6c62a;" })
                        }
                        else
                        {
                            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.ProductID }, new { @class = "no-select EditBtn" })
                            @Html.ActionLink("Xoá", "Delete", new { id = Model.ProductID }, new { @class = "no-select EditBtn", style = "background: red;" })
                            if (Model.State == anhemtoicodeweb.Enums.ProductState.Hidden)
                            {
                                @Html.ActionLink("Hiện thị", "Show", new { id = Model.ProductID }, new { @class = "no-select EditBtn", style = "background: #4E6C50;" })
                            }
                            else
                            {

                                @Html.ActionLink("Ẩn", "Hide", new { id = Model.ProductID }, new { @class = "no-select EditBtn", style = "background: #e6e620;" })
                            }
                        }

                    </div>
                }
            </div>
            <div id="accordion" style="margin-left: 30px; margin-top: 24px;">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button onclick="selfToggle('collapseOne')" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Mô tả sản phẩm
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div style="min-height: 140px" class="d-flex">
                            <div class="card-body card-extra p-3">
                                @Html.Raw(Model.Decription)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>