@model anhemtoicodeweb.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="@Url.Content("~/Content/css/Index.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/CreateEditProducts.css")" rel="stylesheet" type="text/css" />
}

<h2>Chỉnh sửa sản phẩm</h2>
<form action="/Products/Edit/@Model.ProductID" enctype="multipart/form-data" method="post" onsubmit="sanitizePrice(this)">
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProductID)
    <div class="container-wrap product">
        <div class="product-box">
            <div class="product-image">
                <div id="upload-image-overlay" onclick="document.getElementById('selectedFile').click();">
                    <div class="plus-button"></div>
                    <input id="selectedFile" name="UploadImage" class="d-none" type="file" onchange="ChangeImage(this)" />
                </div>
                <img id="preview-img" src="@Url.Content(Model.ImagePro)" />
            </div>
            <div class="product-content">
                <div class="main-content">
                    <input class="product-price" name="Price" id="Price" type="text" value="@String.Format("{0:#,#.##}", Model.Price)đ" />
                    <textarea class="edit-product-name" id="NamePro" name="NamePro" rows="12" cols="50">@Model.NamePro</textarea>
                </div>
                <div class="form-group">
                    <label class="control-label" for="IDCate">Hãng sản phẩm</label>
                    <div class="d-flex">
                        @Html.DropDownList("IDCate", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDCate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="IDCate">Số lượng tồn kho</label>
                    <div class="d-flex">
                        <input class="form-control" type="number" name="InvQuantity" min="0" max="9999" id="InvQuantity" value="@Model.InvQuantity" />
                        @Html.ValidationMessageFor(model => model.IDCate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="ImagePro">Đường dẫn hình ảnh</label>
                    <div class="d-flex">
                        <input class="form-control" type="text" id="ImagePro" name="ImagePro" value="@Model.ImagePro" />
                        <input class="form-control" type="hidden" id="OldImagePro" name="OldImagePro" value="@Model.ImagePro"/>
                        @Html.ValidationMessageFor(model => model.ImagePro, "", new { @class = "text-danger" })
                    </div>
                </div>
                <input style="background-color: transparent; border: none" type="submit" value="✓" />
            </div>
        </div>
    </div>
</form>

@section JavaScript{
    <script>
        function sanitizePrice(div) {
            var price = div.querySelector(".product-price");
            price.value = price.value.replace("đ", "").replace(",", "");
        }

        function ChangeImage(UploadImage) {
            var previewImg = document.getElementById("preview-img");
            if (UploadImage.files && UploadImage.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(previewImg).attr('src', e.target.result);
                }
                reader.readAsDataURL(UploadImage.files[0]);
                document.getElementById("ImagePro").value = `~/Image/Product/${UploadImage.files[0].name}`;

                try {
                    document.getElementById("OldImagePro").remove();
                } catch { }
            }
        }
    </script>
}
