@model IEnumerable<anhemtoicodeweb.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = ViewBag.Layout;
}

<h4>Sửa bảng <b>sản phẩm</b></h4>


@if (Session["IsAdmin"] is true)
{
    <p>
        @Html.ActionLink("Tạo mới", "Create", "", new { @class = "btn btn-success" })
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.NameCate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamePro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DecriptionPro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.NameCate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamePro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DecriptionPro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
            </td>
        </tr>
    }

</table>
