@model IEnumerable<anhemtoicodeweb.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = ViewBag.Layout;
}

<style>
    .hover-image-wrapper {
        position: absolute;
        left: 45%;
        margin-top: 45px;
        visibility: hidden;
        opacity: 0;
        transition: 0.2s opacity;
    }

        .hover-image-wrapper.show {
            visibility: visible;
            opacity: 1;
        }

        .hover-image-wrapper img {
            max-height: 10rem
        }
</style>
<script>
    function show(n) {
        document.getElementById(n).classList.add("show")
    }

    function hide(n) {
        document.getElementById(n).classList.remove("show")
    }

    function move(n, e) {
        let div = document.getElementById(n);
        div.style.left = e.pageX + "px";
        div.style.top = e.pageY + "px";
    }
</script>

<h4>Sửa bảng <b>sản phẩm</b></h4>


@if (Session["IsAdmin"] is true)
{
    <p>
        @Html.ActionLink("Tạo mới", "Create", "", new { @class = "btn btn-success" })
    </p>
}
<div style="overflow-x: auto">
    <table class="table" style="width: max-content;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.NameCate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamePro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DecriptionPro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr onmouseover="show(@item.ProductID)" onmouseout="hide(@item.ProductID)" onmousemove="move(@item.ProductID, event)">
                <td>
                    @Html.DisplayFor(modelItem => item.Category.NameCate)
                </td>
                <td>
                    @Html.ActionLink(item.NamePro, "Details", new { id = item.ProductID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DecriptionPro)
                </td>
                <td>
                    @String.Format("{0:#,#.##}", item.Price)đ
                </td>
                <td>
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.ProductID }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.ProductID })
                </td>
                <td class="hover-image-wrapper" id="@item.ProductID">
                    <img src="@Url.Content(item.ImagePro)" />
                </td>
            </tr>
        }

    </table>
</div>
