@model anhemtoicodeweb.Models.Product

<div class="product-box">
    @if (Session["UserRole"] is anhemtoicodeweb.Enums.Role.Admin || (anhemtoicodeweb.Enums.RoleExtensions.EqualsTo(Session["UserRole"], anhemtoicodeweb.Enums.Role.Seller) && (int?)Session["UserId"] == Model.SellerId))
    {
        <div class="admin-btn">
            <a href="/Products/Delete/@Model.ProductID" class="no-select remove">&#x2715;</a>
            <a href="/Products/Edit/@Model.ProductID" class="no-select remove">
                <img class="edit-btn" src="@Url.Content("~/Image/svg/pencil.svg")" />
            </a>
        </div>
    }
    <div class="position-relative product-image">
        @if (Model.Quantity == 0)
        {
            <div class="no-select out-of-stock-overlay">Hết hàng</div>
        }
        @if (Model.State == anhemtoicodeweb.Enums.ProductState.Hidden)
        {
            <div class="no-select out-of-stock-overlay" style="color:yellow">Bị ẩn</div>
        }
        else if (Model.State == anhemtoicodeweb.Enums.ProductState.Deleted)
        {
            <div class="no-select out-of-stock-overlay">Bị xoá</div>
        }
        <img src="@Url.Content(Model.ImageLocation)" />
    </div>
    <div class="product-content">
        <div class="main-content">
            @if (Model.Discount > 0)
            {
                <div class="product-price" style="font-size: 12px;color: red;text-decoration: line-through;line-height: unset;">@(String.Format("{0:#,#.##}", Model.Price))đ</div>
                <div class="product-price">@(String.Format("{0:#,#.##}", Model.Price - (Model.Price * Model.Discount) ))đ</div>
            }
            else
            {
                <div class="product-price">@(String.Format("{0:#,#.##}", Model.Price ))đ</div>
            }
            <a href="@Url.Action("Details", "Products", new { id = Model.ProductID })" style="text-decoration: none">
                <div class="product-name">@Model.Name</div>
            </a>
        </div>
        <div class="d-flex gap-4">
            @if (Model.Quantity == 0)
            {
                <a class="no-select BuyNowBtn out-of-stock">Thêm vào giỏ</a>
            }
            else
            {
                <div onclick="postAddCart(@Model.ProductID)" class="no-select BuyNowBtn">Thêm vào giỏ</div>
            }
            <img src="~/Image/svg/heart.svg" alt="favorite" />
        </div>
    </div>
</div>