@model IEnumerable<anhemtoicodeweb.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = ViewBag.Layout;
}

<h2>Danh sách khách hàng</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create", "", new { @class = "btn btn-success" })
</p>
<input type="text" id="myInput" onkeyup="searchCus('myInput', 'cusTable')" placeholder="Tìm kiếm khách hàng..">
<table id="cusTable" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressName)
        </th>
        <th>Action</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="clickable" onclick="window.location.href='/Customers/Details/@item.ID'">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressName)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.ID })

            </td>
            <td></td>
        </tr>
    }

</table>
